html {
  box-sizing: border-box;
  background-color: #000;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.clock-face {
  height: 300px;
  margin:50px;
  position: relative;
  width: 300px;

  background: transparent url("../images/clock-face.svg") no-repeat center center;
}

.clock-center {
  bottom: calc(50% - 14px);
  left: calc(50% - 14px);
  position: absolute;
  width: 14px;

  transform-origin: 50% calc(100% - 8px);
}
